---js
{
    pagination: {
        data: 'locales', // You could add your data directly here if you prefered
        size: 1, // One page generated per language
        alias: 'locale', // Provide the locale in the data cascade
    },
    layout: "layouts/home.njk",
    eleventyComputed: {
        permalink: (data) => `/${data.locale}/${data.home[data.locale].slug}`, // Create the URL based on the locale and the slug for that locale
        title: (data) => data.home[data.locale].title, // Grab content pieces
        localisedContent: (data) => data.home[data.locale].content, // Grab content pieces
    }
}
---

{{ layoutContent | safe }}